body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;

    margin: 16px;
    align-items: center;
}

.heading {
    font-size: 36px;
    font-weight: bold;
    margin-top: 16px;
}

.calculator {
    display: flex;
    flex-direction: column;

    height: 600px;
    width: 400px;

    margin: 20px 0;
    border: 2px solid black;

    font-size: 36px;
}

.display {
    min-height: 100px;
    padding: 0 24px;
    border-bottom: 1px solid black;

    /* centering text within div */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    overflow: auto;
}

.inputs {
    display: flex;

    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;

    border-bottom: 1px solid black;
}

.row > * {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    border-right: 1px solid black;

    cursor: pointer;
}

.footer {
    margin: 16px 0;
}

@media (max-width: 500px) {
}
