body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
}

.container {
    margin: 16px;
    align-items: center;
}

.header,
.footer {
    text-align: center;
}

.heading {
    font-size: 36px;
    font-weight: bold;
    margin-top: 16px;
}

.calculator {
    margin: 20px 0;
    border: 2px solid black;
}

.footer {
    margin: 16px 0;
}

@media (max-width: 500px) {
}
